<%- include('bootheader') -%>
<link rel='stylesheet' href='/stylesheets/style2.css' />
<%- include('menubar') -%>

<div class="jumbotron">
    <h1>Art Fun Finder</h1>
    <p>This app gets its art fun from
        <a href="https://api.artic.edu/docs/">The Art Institute of Chicago</a>
        </p>
</div>

<form method="post" action="/artFun">
    What art would you like to see?
    <input type="text" name="art"><br>
    <input type="submit">
</form>

<% results.map((art) => {%>
<div style="margin:20; padding:10">
    <p> <%= art.title %> </p>

    <div class="row">
        <div class="col">
          <!-- <img src="https://www.artic.edu/iiif/2/{art.jpg}/full/843,/0/default.jpg"> -->
            <img src="<%=(art.thumbnail.lqip)%>" width="50">
        </div>
    </div>
</div>
<%})%>

<%= JSON.stringify(results) %>


<%- include('bootfooter') -%>
